@import "../kernel/configuration";

.dataTables_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	& > .dataTables_length {
		height: 2em;
		position: absolute;
		display: flex;
		align-items: center;

		& label {
			color: #FFF;
			font-size: 0.8em;
		}

		& select {
            color: #FFF;
            background: transparent;
            margin: 0 0.2rem;
			height: 1.2rem;
            box-shadow: 0 0 0.15em rgba(255, 255, 255, 0.5);

            option {
                color: #222;
            }
		}
	}

	& > .dataTables_filter {
		height: 2em;
		align-self: flex-end;
		display: flex;
		align-items: center;
		margin-bottom: 0.4em;

		label {
			color: #FFF;
			font-size: 0.8em;
		}

		input {
			box-shadow: 0 0 0.15em rgba(255, 255, 255, 0.5);
			margin-left: 0.5rem;
			height: 1.2rem;
			padding: 0 0.3em;
            background: transparent;
		}
	}

	& > .dataTables_info {
		height: 2rem;
		position: absolute;
		align-self: center;
		display: flex;
		align-items: center;
		color: #FFF;
		font-size: 0.8em;
	}

	& > .dataTables_paginate {
		margin-top: 0.5em;
		color: #FFF;
		font-size: 0.8em;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;

		& > a {
			cursor: pointer;
			border: 0.1em #fff solid;
			color: #fff;
			transition: all 0.2s;
			font-size: 0.8em;
			display: flex;
			align-items: center;
			padding: 0 0.5em;
			height: 1.2rem;
			&:hover {
				background: transparent;
				color: @color-yellow;
                border-color: @color-yellow;
				transition: all 0.2s;
			}
		}

		span {
			margin: 0 1em;
			display: flex;
			align-items: center;
			& > a {
                cursor: pointer;
                border: 0.1em #fff solid;
                color: #fff;
                transition: all 0.2s;
                font-size: 0.8em;
                display: flex;
                align-items: center;
                height: 1.2rem;
                width: 1.2rem;
				&:hover {
                    background: transparent;
                    color: @color-yellow;
                    border-color: @color-yellow;
                    transition: all 0.2s;
				}
			}
			& > * {
				font-size: 0.8em;
				margin: 0 0.3em;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 1.2rem;
				width: 1.2rem;
			}
		}
	}
}
