@import "../kernel/configuration";

table {
    width: 100%;
    text-align: center;

    &.datatable {
        & > thead {
            & th {
                cursor: pointer;
            }
        }
    }

    & tr:nth-child(even) {
        background: #ececec;
    }

    & > thead {
        background: #1B2631;
        width: 100%;
        color: #fff;

        & th {
            font-size: 0.8em;
            text-align: center;
            border: 0.05em #1B2631 solid;
            padding: 2em 0.4em;
        }
    }

    & > tbody {
        margin-top: 2em;
        background: #fff;
        border: 1px #dae7eb solid;
        &.clickable td {
            cursor: pointer;
        }

        & td {
            font-size: 0.75em;
            color: #222;
            padding: 1.5em 0.2em;
            vertical-align: center;
        }
    }
}
